/* This is the stylesheet for HomePage of this website */

/* Custom CSS Variables */
:root{
   --color-1: #f36347;
   --color-2: #1a1a1a;
   --color-3: #d0d9e8;
}

/* homepage banner design */
#home-banner{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 2rem 2rem 2rem;
   height: 84vh;
   background-color: rgba(1, 1, 1, 0.6);
   text-align: center;
}
#home-banner::before{
   content: "";
   background: url('../Images/bg-home.jpg') no-repeat center center/cover;
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0px;
   left: 0px;
   z-index: -1;
   /* opacity: 0.80; */
}

/* Quotes section design */
#quotes-section{
   padding: 4rem 0;
}
#quotes{
   width: 70%;
   margin: auto;
   text-align: center;
}
#quotes-sign{
   width: 350px;
}
/* Services Home design */
#services-home{
   padding: 2rem 0;
}
#services-home-bgi{
   background: url('../Images/123-1.jpg') no-repeat top center/cover;
}
.services-home-heading{
   padding: 4rem 2rem;
   background-color: rgba(1, 1, 1, 0.42);
   height: 320px;
   
}


/* Responsive designing for other devices */
@media only screen and (max-width: 768px) {

   /* Quotes section */
   #quotes{
      width: 85%;
   }
   #quotes-sign{
      width: 260px;
   }

   /* Services Home */
   .services-home-heading{
      height: 240px;
   }
}

/* Responsive designing for other devices: 2 */
@media only screen and (max-width: 576px) {

   /* Services Home */

}